.main-nav {
  position: relative;
  width: 100%;
  .offset(10px 0 20px 0; 0);
  order: 1;

  @media (min-width: @tablet-width) {
    width: 73%;
    .offset(0 auto 0 0; 0);
    order: 2;
  }

  @media (min-width: @desktop-width) {
    width: 789px;
    max-width: 100%;
    margin-right: 37px;
  }
}

.main-nav__toggle {
  position: absolute;
  top: -47px;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 6px;
  width: 26px;
  height: 26px;
  .offset(0; 0);
  cursor: pointer;
  border: none;
  background-color: transparent;
  z-index: 2;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav__toggle:hover .main-nav__toggle-line,
.main-nav__toggle:focus .main-nav__toggle-line {
  opacity: 0.7;
}

.main-nav__toggle:active .main-nav__toggle-line {
  opacity: 0.5;
}

.main-nav__toggle-line {
  width: 26px;
  height: 2px;
  background-color: @blue;
  transition: 0.5s ease;
}

.main-nav__toggle-line:first-of-type {
  width: 20px;
  transition-delay: 0.1s;
}

.main-nav__toggle-line:last-of-type {
  width: 15px;
  transition-delay: 0.2s;
}

.main-nav--opened .main-nav__toggle-line {
  transform: translateX(26px);
}

.main-nav--opened .main-nav__toggle-line:first-of-type {
  width: 26px;
  transform: translateY(8px) translateX(0) rotate(45deg);
}

.main-nav--opened .main-nav__toggle-line:last-of-type {
  width: 26px;
  transform: translateY(-8px) translateX(0) rotate(315deg);
}

.main-nav--opened .main-nav__toggle {
  right: 0;
}

.main-nav--no-js .main-nav__toggle {
  display: none;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  .offset(0; 0 10px);
  list-style: none;
  height: auto;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px 10px 0 10px;
    border-radius: 20px;
    background-color: @white;
  }

  @media (min-width: @desktop-width) {
    justify-content: normal;
  }
}

.main-nav--no-js .main-nav__list {
  display: block;
}

.main-nav__item {
  flex-grow: 1;
  .offset(0; 0);
  transition: 0.6s ease;

  @media (min-width: @tablet-width) {
    margin-bottom: 10px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(5) {
      margin-right: 0;
    }
  }
}

.main-nav__link {
  position: relative;
  display: block;
  .offset(0; 5px 0);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: @black;
  text-align: center;
  outline: none;
  transition: 0.3s linear;

  &:hover,
  &:focus {
    color: @white;

    @media (min-width: @desktop-width) {
      border-color: transparent;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 10px 5px;
    font-size: 14px;
    line-height: 18px;
    z-index: 1;
  }

  @media (min-width: @desktop-width) {
    padding: 11px 25.7px;
    font-weight: 700;
    border: 2px solid @black;
    border-radius: 10px;
  }
}

.main-nav__link:hover::before,
.main-nav__link:focus::before {
  content: "";
  position: absolute;
  top: 0;
  left: -60px;
  width: 200%;
  height: 100%;
  z-index: -1;
  border-radius: 10px;
  filter: drop-shadow(1px 1px 5px grey);

  @media (min-width: @tablet-width) {
    left: 0;
    width: 100%;
    z-index: -1;
  }
}

.main-nav__link--football:hover::before,
.main-nav__link--football:focus::before {
  background-color: @blue;
}

.main-nav__link--basketball:hover::before,
.main-nav__link--basketball:focus::before {
  background-color: @orange;
}

.main-nav__link--tracksuit:hover::before,
.main-nav__link--tracksuit:focus::before {
  background-color: @green;
}

.main-nav__link--hockey:hover::before,
.main-nav__link--hockey:focus::before {
  background-color: @red;
}

.main-nav__link--volleyball:hover::before,
.main-nav__link--volleyball:focus::before {
  background-color: @purple;
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .main-nav__item {
    opacity: 0;
    visibility: hidden;
    height: 0;
    width: 0;
    transform: translateX(-120px);
  }

  .main-nav--opened .main-nav__item:first-child {
    transition: 0.3s ease;
    transform: translateX(0);
  }

  .main-nav--opened .main-nav__item {
    transform: translateX(0);
    transition: 0.6s ease;
  }

  .main-nav--opened .main-nav__item:last-child {
    transition: 0.8s ease;
  }
}
