.page-header {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-header__logo {
  margin-right: 55px;
}

.page-header__contacts {
  display: none;
}

.page-header__contacts-list {
  .offset(0; 0);
  list-style: none;
}
